.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 4rem;
    padding-right:4rem;
    .seprator{
        background-color: rgba(255, 255, 255, 0.254);
        width: 1px;
        height: 80%;
        margin:0px 10px;
    }
    .item{
        flex:1;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            input{
                background-color: rgba(29, 153, 202, 0.349);
                padding: 10px;
                border-radius: 5px;
                border: none;
                margin-bottom: 0.50rem;
                color: white;
                
            }
            input:focus {
                outline: none;
                border: none;
            }
            ::placeholder {
                color: rgb(255, 255, 255);
                opacity: 0.7; /* Firefox */
              }
            button{
                padding: 10px 20px;
                border-radius: 5px;
                background-color: rgba(16, 153, 227, 0.716);
                color: white;
                cursor: pointer;
                border: none;
            }
            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.2rem;
                object-fit: cover;
            }
            label{
                display:flex;
                align-items: center;
                gap: 0.5rem;
                justify-content:left ;
                margin-bottom: 8px;
                cursor: pointer;
            }
        }
    }
}